*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.auxlock
*.synctex.gz
*.md5
*.dpth
**/tikz/*
*.hp
*.eventlog
**/.stack-work/
**/cabal.project.local
**/cabal.project.local~
**/.HTF/
**/.ghc.environment.*
**/dist
**/dist-*
**/cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
**/cabal.sandbox.config
*.prof
**/.idea
**/out
*.iml
**/auto
*.fls
*.fdb_latexmk
